<div class="filter-1">
  <h5>Country Filter</h5>
  <p-multiSelect
    class="filter-1"
    [style]="{ width: '100%' }"
    autowidth="false"
    [options]="filterService.countriesToSelectFrom | async"
    (ngModelChange)="newCountrySelected($event)"
  ></p-multiSelect>
</div>

<div class="filter-2">
  <h5>Discipline Filter</h5>
  <p-multiSelect
    class="filter-1"
    [style]="{ width: '100%' }"
    autowidth="false"
    [options]="filterService.disciplinesToSelectFrom | async"
    (ngModelChange)="newDisciplineSelected($event)"
  ></p-multiSelect>
</div>
