<div class="row">
    <p-virtualScroller [value]="filteredDataService.filteredPersonsSubject" [lazy]="true" (onLazyLoad)="loadPersonsLazy($event)" scrollHeight="500px" [itemSize]="25" [rows]="10">
      <ng-template pTemplate="header">Athletes</ng-template>
      {{selectedAthlete}}
      <ng-template pTemplate="item" let-person>
          <div class="person-entry" [ngClass]="{'selected-item': selectedAthlete && selectedAthlete.name === person}" (click)="this.filterService.searchAndSelectFirstAthleteEntryByName(person)">
            {{person}}
          </div>
      </ng-template>
      <ng-template let-person pTemplate="loadingItem">
        Loading...
      </ng-template>
    </p-virtualScroller>
</div>
<div class="row">
    <p-virtualScroller [value]="filteredDataService.filteredCountriesSubject" scrollHeight="500px" [itemSize]="25">
      <ng-template pTemplate="header">Countries</ng-template>
      <ng-template pTemplate="item" let-country>
        <div class="country-entry">
          {{country}}
        </div>
      </ng-template>
    </p-virtualScroller>
</div>
