<div class="row">
    <p-virtualScroller [value]="filteredDataService.filteredAthletes2Subject" [lazy]="true" (onLazyLoad)="loadPersonsLazy($event)" scrollHeight="500px" [itemSize]="25" [rows]="10">
      <ng-template pTemplate="header">Athletes</ng-template>
      {{selectedAthlete}}
      <ng-template pTemplate="item" let-person>
          <div class="person-entry" [ngClass]="{'selected-item': selectedAthlete && selectedAthlete.name === person.name}" (click)="filterService.searchAndSelectFirstAthleteEntryByName(person.name)">
            {{person.name}}
          </div>
      </ng-template>
      <ng-template let-person pTemplate="loadingItem">
        Loading...
      </ng-template>
    </p-virtualScroller>
</div>
<div class="row">
  <p-table [value]="filteredDataService.filteredDisciplinesSubject | async" sortField="sport" sortMode="single" [scrollable]="true" scrollHeight="500px" rowGroupMode="subheader" groupRowsBy="sport" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>Disciplines</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="groupheader" let-discipline>
            <tr pRowGroupHeader>
                <td colspan="5" style="border: none; padding: 0;" class="person-entry">
                    <span class="font-bold ml-2" style="font-weight: bold; margin-top: 15px; margin-bottom: 5px;">{{discipline.sport}}</span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-discipline let-rowIndex="rowIndex">
            <tr (click)="filterService.searchAndSelectFirstDiscipline(discipline)" [ngClass]="{'selected-item': selectedDiscipline && selectedDiscipline.equals(discipline)}">
                <td style="min-width:200px; border: none; padding: 0" class="person-entry">
                    {{discipline.event}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
