<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the {{ title }}!
  </h1>
</div>
<div class="row">
  <div class="col-md-4">
    <p-autoComplete [(ngModel)]="dataFilterService.peopleToFilterOn" [suggestions]="dataFilterService.peopleSuggestions" (completeMethod)="dataFilterService.searchPerson($event.query)" (onSelect)="filterOnAllAttributes()" (onUnselect)="filterOnAllAttributes()" [multiple]="true"></p-autoComplete>
    <ul>
      <li *ngFor="let person of dataFilterService.displayedPersons | slice:0:10; let i=index" class="dropdown-item">{{person}}</li>
    </ul>
  </div>
  <div class="col-md-4">
    <p-autoComplete [(ngModel)]="dataFilterService.countriesToFilterOn" [suggestions]="dataFilterService.countrySuggestions" (completeMethod)="dataFilterService.searchCountry($event.query)" (onSelect)="filterOnAllAttributes()" (onUnselect)="filterOnAllAttributes()" [multiple]="true"></p-autoComplete>
    <ul>
    <li *ngFor="let country of dataFilterService.displayedCountries" class="dropdown-item" ng-class="{color-red: item in countriesSelected}">{{country}}</li>
    </ul>
  </div>
  <div class="col-md-4">
    <div><app-medal-chart [medalData]="medalData"></app-medal-chart></div>
  </div>
</div>
<router-outlet></router-outlet>
