.navbar-light {
    min-height: 130px;
}

.athlete-input-warning {
    color:red;
    text-align: center;
    margin-top: 5px;
    margin-bottom:0px !important;
}

:host ::ng-deep .olympic-autocomplete {
    display: inline !important;
}

:host ::ng-deep .selection-button {
    .p-button {
        padding: 6px 10px;
    }
}