<nav class="navbar-light" style="background-color: beige">
  <div class="container-fluid">
    <div class="row pt-2">
      <div class="col-md-2 mr-0 text-center" style="text-align: center">
        <img src="/assets/Olympics-Logo.png" alt="Logo" width="200" height="100">
      </div>
      <div class="col-md-2 mr-0" style="text-align: center">
        <h5>Choose edition</h5>
        <p-selectButton [options]="filterService.editionOptions" [(ngModel)]="filterService.chosenEdition" optionLabel="label" optionValue="value" (onChange)="filterService.filterOnAllAttributes()"></p-selectButton>
      </div>
      <div class="col-md-2 mr-0 text-center" style="text-align: center">
        <h5>Choose sex</h5>
        <p-selectButton [options]="filterService.sexOptions" [(ngModel)]="filterService.chosenSex" optionLabel="label" optionValue="value" (onChange)="filterService.filterOnAllAttributes()"></p-selectButton>
      </div>
      <div class="col-md-2 mr-0 pt-4" style="text-align: center">
        <h5>Range: {{filterService.yearRange[0] + ' - ' + filterService.yearRange[1]}}</h5>
        <p-slider [(ngModel)]="filterService.yearRange" [min]="1896" [max]="2016" [step]="2" [range]="true" (onSlideEnd)="filterService.filterOnAllAttributes()"></p-slider>
      </div>
      <div class="col-md-2">
        <h5 class="text-center">Search person:</h5>
        <div class="row">
          <p-autoComplete
            [(ngModel)]="filterService.peopleToFilterOn"
            [suggestions]="filterService.peopleSuggestions"
            (completeMethod)="filterService.searchPerson($event.query)"
            (onSelect)="filterService.filterOnAllAttributes()"
            (onUnselect)="filterService.filterOnAllAttributes()"
            [minLength]="2"
            [multiple]="true"
            [forceSelection]="true"
            styleClass="olympic-autocomplete"
          ></p-autoComplete>
        </div>
      </div>
      <div class="col-md-2">
        <h5 class="text-center">Search country:</h5>
        <p-autoComplete
          [(ngModel)]="filterService.countriesToFilterOn"
          [suggestions]="filterService.countrySuggestions"
          (completeMethod)="filterService.searchCountry($event.query)"
          (onSelect)="filterService.filterOnAllAttributes()"
          (onUnselect)="filterService.filterOnAllAttributes()"
          [multiple]="true"
          [forceSelection]="true"
          styleClass="olympic-autocomplete"
        ></p-autoComplete>
      </div>
    </div>
  </div>
</nav>
